<?xml version="1.0" encoding="utf-8"?>
<module tags="EPiServerModulePackage"
        description="Badges the active DXP environment into the CMS top bar.">
  <assemblies>
    <add assembly="MP.DxpEnvironmentIndicator" />
  </assemblies>
  <clientResources>
    <add name="dxp.envindicator" path="ClientResources/init" resourceType="Script" />
  </clientResources>
  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" />
    </moduleDependencies>
    <requiredResources>
      <add name="dxp.envindicator" />
    </requiredResources>
  </clientModule>
</module>
